.paperList {
  background: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3vh;
}
.card:not([data-type="MusicAlbum"]) [class^="card"], 
.card:not([data-type="MusicAlbum"]) canvas {
  border-radius: 1.5rem !important;
}
  
.cardContent-button,
.itemDetailImage {
  border-radius: 1rem;
} 

.visualCardBox {
  background-color: var(--darker-purple);
}

.defaultCardBackground {
  background-color: var(--light-purple);
}

.defaultCardBackground .cardImageIcon {
  color: var(--dark-purple);
}
