@import url('https://fonts.cdnfonts.com/css/fantasque-sans-mono'); 
@import url('https://raw.githubusercontent.com/anultravioletaurora/Jellynautical/refs/heads/main/min/buttons.min.css');
@import url('https://raw.githubusercontent.com/anultravioletaurora/Jellynautical/refs/heads/main/min/cards.min.css');
@import url('https://raw.githubusercontent.com/anultravioletaurora/Jellynautical/refs/heads/main/min/dashboard.min.css');
@import url('https://raw.githubusercontent.com/anultravioletaurora/Jellynautical/refs/heads/main/min/inputs.min.css');
@import url('https://raw.githubusercontent.com/anultravioletaurora/Jellynautical/refs/heads/main/min/nav.min.css');
@import url('https://raw.githubusercontent.com/anultravioletaurora/Jellynautical/refs/heads/main/min/player.min.css');
@import url('https://raw.githubusercontent.com/anultravioletaurora/Jellynautical/refs/heads/main/min/elements.min.css');
@import url('https://raw.githubusercontent.com/anultravioletaurora/Jellynautical/refs/heads/main/min/typography.min.css');

:root {
  --darker-purple: #070217;
  --dark-purple-trans: rgb(16, 5, 56, 0.3);
  --dark-purple: #100538;
  --light-purple: #A58EF5;
  --neon-pink: #CC2F71;
  --light-pink: #E58BB0;
  --white: #FFFFFF;
}

.backdropImage {
  display: none;
}
.backgroundContainer,
#loginPage {
  background-color: var(--dark-purple);
  background-size: cover;
}

.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred,
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
  background: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 3vh 3vh;
} 
/* TABS */
/* Adjust both "size-adjust" and "size" to modify size */
.headerTabs.sectionTabs {
  text-size-adjust: 110%;
  font-size: 110%;
}
.pageTitle {
  margin-top: auto;
  margin-bottom: auto;
}
.emby-tab-button {
  padding: 1.75em 1.7em;
}
.sections { 
  padding-top: 3vh;
}
/* PLAY STATUS */ 
.countIndicator,
.playedIndicator {
  background: var(--dark-purple);
}

.itemProgressBarForeground {
  background-color: var(--neon-pink) !important;
}

.mdl-spinner__layer {
  border-color: var(--neon-pink) !important;
}

.noBackdropTransparency, .detailPageSecondaryContainer.detailRibbon {
  background-color: var(--dark-purple);
}

.detailPageSecondaryContainer {
  background-color: var(--darker-purple);
}
