.progressring-spiner {
    border-color: var(--neon-pink) !important;
}

.MuiTypography-root {
    font-family: 'Fantasque Sans Mono', sans-serif !important;
}

.Mui-selected > .MuiListItemIcon-root > .MuiSvgIcon-root,
.Mui-selected .MuiListItemText-root .MuiTypography-root {
    color: var(--dark-purple);
}

.MuiListItemText-primary,
.MuiSvgIcon-root {
    color: var(--light-purple);
}

.MuiDrawer-paper {
    background-image: none !important;
}