.progressring-spiner {
    border-color: var(--neon-pink) !important;
}

.MuiTypography-root {
    font-family: 'Fantasque Sans Mono', sans-serif !important;
}

.Mui-selected > .MuiListItemIcon-root > .MuiSvgIcon-root,
.Mui-selected .MuiListItemText-root .MuiTypography-root,
.MuiList-root .MuiListItemText-root .MuiListItemButton-root:hover .MuiSvgIcon-root,
.MuiList-root .MuiListItemText-root .MuiListItemButton-root:hover .MuiListItemText-primary {
    color: var(--dark-purple);
  }

.MuiListItemText-primary,
.MuiSvgIcon-root {
    color: var(--light-purple);
}

progress {
    background: var(--darker-purple) !important;
    border-radius: 1rem;
    border: 1px solid var(--dark-purple);
  }
progress::-webkit-progress-bar {
    background: var(--darker-purple) !important;
    border-radius: 1rem;
    border: 0px solid var(--dark-purple);
}
progress::-moz-progress-bar {
    background-color: var(--light-purple);
    border-radius: 1rem;
}
progress::-webkit-progress-value {
    background-color: var(--light-purple);
    border-radius: 1rem;
}
#divRunningTasks span {
    color: var(--light-purple) !important;
}

.MuiDrawer-paper {
    background-image: none !important;
}