.listItemIcon {
    background-color: var(--dark-purple) !important;
}

.listItemIcon.notification_important {
    background-color: var(--neon-pink) !important;
}

.listItem:hover .listItem-content,
.listItemIcon:not(.listItemIcon-transparent) {
    color: var(--dark-purple);
}

.actionsheetMenuItemIcon {
    border-radius: .25rem;
    color: var(--light-purple);
}

.actionsheetDivider,
.listItem:hover {
    background-color: var(--light-purple);
}