.navMenuOptionText {
    font-size: 1.5rem;
    font-weight: 800;
}

.navMenuOption.emby-button {
    padding: 1rem 2rem !important;
}

.sidebarHeader {
    font-size: 1.5rem;
    font-weight: 900;
}

.mainDrawer, 
.drawer-open,
.MuiPaper-root {
  background-color: var(--dark-purple);
}

#myPreferencesMenuPage .listItem:hover
.navMenuOption:hover,
.navMenuOption.navMenuOption-selected,
.MuiListItemButton-root:hover,
.MuiListItemButton-root.Mui-selected {
  color: var(--dark-purple) !important;
  background-color: var(--neon-pink) !important;
}