html {
    font-family: 'Aileron', sans-serif !important;
    font-weight: 600;
    color: var(--light-purple); /* Meets constrast metrics against dark-purple background */
}

.MuiListSubheader-root {
    font-family: 'Aileron', sans-serif !important;
}